*, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-size: 16px;
}

#main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 6fr;
  min-width: 0;
}

nav {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.151);
  display: flex;
  grid-row: 1;
}

#modeIcon {
  width: 50px;
  height: auto;
}

.title {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modeContainer {
  margin-right: 10%;
  display: flex;
  justify-content: end;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#search {
  grid-row: 2;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 8px;
  justify-self: start;
  align-self: start;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  grid-column: 2;
  justify-items: start;
  padding-left: 16px;
}

.searchWrapper {
  border: 1px solid green;
  padding: 16px;
  width: auto;
  display: grid;
  grid-template-columns: auto 2fr;
}

.search-icon {
  width: 32px;
  height: auto;
  float: left;
}

.search-input::placeholder {
  color: hsl(213, 10%, 55%);
}

/* countries */
#containerCountries {
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  min-height: 0;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.151);
}

.cardTop {
  height: 160px;
  background-size: cover;
  background-position: center;
  aspect-ratio: 3 / 2;
}

.cardBottom {
  padding: 16px;
  box-sizing: border-box;
}

span {
  font-weight: bold;
  font-size: 12px;
}

.cardPopulation, .cardRegion, .cardCapital {
  font-size: 12px;
  padding: 4px 0 4px 0;
}

.cardName {
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  #containerCountries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #containerCountries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #containerCountries {
    grid-template-columns: 1fr;
  }
}
